body{
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    list-style: none;
    font-size: 24px;
    margin: 5px 10px;     
}

.menu li a{
    text-decoration: none;
    color: #1a3aee;
}
h1 {
    font-size: 50px;
    letter-spacing: 5px;
    color: #f00a0a;
    text-align: center;
}
p {
     line-height: 28px;
     margin: 50px 20px;
     padding: 50px 0;   
}
.left {
    float: left;
}
.right {
    float: right;
}

.menu2{
     text-align: center;
     margin-top: 150px;
}

.menu2 li{
    display: inline;
    font-size: 14px;
    word-spacing: 5px;
    margin: 10px;  
    text-align: right;
}
.menu2 li a {
    color: #000;
}

